# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
out/
.npm
.yarn
.pnpm-store/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.production

# Helm
charts/*.tgz

# Kubernetes
kubeconfig
*.kubeconfig
