replicaCount: 1

image:
  backend:
    repository: cybertecklabs/omega-backend
    pullPolicy: IfNotPresent
    tag: "latest"
  frontend:
    repository: cybertecklabs/omega-frontend
    pullPolicy: IfNotPresent
    tag: "latest"

service:
  type: ClusterIP
  port: 80

mongodb:
  enabled: true
  auth:
    rootPassword: omegablackpassword

redis:
  enabled: true

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: omega.local
      paths:
        - path: /
          pathType: ImplementationSpecific
        - path: /api
          pathType: ImplementationSpecific

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi
